* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fffeeb;
}

.border-round {
  border: none;
  border-radius: 10px;
}

/* main header */
.title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  background-color: #66b6d2;
  color: #fffeeb;
  text-align: center;
}

.title h1 {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.home-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  font-size: 50px;
  color: #fffeeb;
  cursor: pointer;
}

.hr {
  border-radius: 10px;
}

/* Main Content */

/* Home Page */
.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.main-header {
  position: relative;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eab676;
  margin-top: 90px;
  padding: 10px;
  width: 90%;
}

.main-header hr {
  margin: 0.3rem;
}

.main-header-div {
  font-size: 1.2rem;
  text-align: center;
  color: #0074c2;
}

.sub-header-div {
  color: #005994;
  text-align: center;
}

.home-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.home-logo h2 {
  font-size: 2rem;
  color: #66b6d2;
}

.logo-large {
  font-size: 200px;
  color: #66b6d2;
  cursor: pointer;
}

.large-bg {
  display: none;
}

.large-bg h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #0074c2;
}

/* Secondary Pages */
.page-list {
  position: absolute;
  top: 13.5rem;
  bottom: 6.5rem;
  left: 5%;
  right: 5%;
}

.text-list {
  background-color: #b2dae8;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
}

.list-item {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #0074c2;
  cursor: pointer;
}

.list-item:active {
  background-color: #66b6d2;
}

.drink-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drink-img {
  width: 120px;
  margin: 1rem;
  box-shadow: 0.3rem 0.3rem 0.8rem 0.2rem #66b6d2;
  cursor: pointer;
}

.drink-row p {
  font-size: 1.2rem;
  color: #0074c2;
  text-align: center;
}

.drink-row i {
  font-size: 3rem;
}

.drink-right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  margin-right: 1rem;
  background-color: #fffeeb;
  box-shadow: 0.3rem 0.3rem 0.8rem 0.2rem #66b6d2;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.search-box input {
  color: #0074c2;
  font-size: 2rem;
  text-align: center;
  background-color: #b2dae8;
  padding: 5px;
  margin: 10px;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 1.5rem 0.1rem #0074c2;
}

#search-input::placeholder {
  color: #0074c2;
}

#search-input:focus {
  outline: none;
  background-color: #b2dae8;
}

/* Detailed Drink */
.drink-detailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b2dae8;
  margin: 5%;
  height: 55vh;
  margin-top: 1rem;
}

.detail-top-row {
  display: flex;
  margin: 5%;
  justify-content: center;
  align-items: center;
}

.detail-top-row i {
  font-size: 2rem;
  color: #ff3939;
  text-align: center;
  flex-basis: 50%;
}

.detailed-img {
  width: 50%;
}

.details-div {
  background-color: #fffeeb;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.details-div p {
  margin: 5px;
  padding: 0.5rem;
  line-height: 1.7rem;
  border: 1px solid black;
}

.details-table {
  height: 100%;
  margin: 5px;
}

.details-table th,
.details-table td {
  padding: 0.5rem;
}

.details-table,
.details-table th,
.details-table td {
  border-radius: 5px;
  text-align: center;
  border: 1px solid black;
}

.random-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-btn {
  border: none;
  color: white;
  background-color: #0074c2;
  font-size: 1.5rem;
  width: 90%;
  padding: 1rem;
  cursor: pointer;
}

.random-btn:hover {
  background-color: #66b6d2;
}

.random-btn:active {
  background-color: #0074c2;
}

.fa-trash-alt {
  font-size: 0.5rem;
  cursor: pointer;
  color: #707070;
}

/* Modal */
.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 180px;
  width: 250px;
  text-align: center;
}

.modal-box h2 {
  font-size: 1.5rem;
}

.modal-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.modal-btn {
  background-color: #b2dae8;
  color: #e88000;
  width: 80px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.modal-btn:active {
  background-color: #0074c2;
}

/* Nav Bars */

/* Bottom Navbar */
.nav-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  background-color: #66b6d2;
}

.nav-icon {
  margin: 1rem 0;
  font-size: 50px;
  color: #eab676;
  cursor: pointer;
}

.nav-selected {
  color: #e88000;
}

.fa-heart {
  cursor: pointer;
  color: #ff3939;
}

/* Sidebar Nav */
.nav-links {
  display: none;
}

.nav-links a {
  color: #fffeeb;
  font-size: 1rem;
  padding: 1rem;
}

.nav-links a:hover {
  border-radius: 20px;
  background-color: #007da9;
}

.text-selected {
  color: #eab676 !important;
}

.logo-small {
  display: none;
}

/* hide element */
.hidden {
  display: none;
}

@media (min-width: 1200px) {
  * {
    font-size: 2rem;
  }

  /* Page Header */
  .title {
    border-bottom-right-radius: 20px;
    text-align: left;
    z-index: 10;
  }

  /* Home Page */
  .page-home {
    height: 100%;
    width: 80%;
    float: right;
  }

  .main-header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 170px;
    margin: 0 22%;
    float: right;
    height: 160px;
    width: 76%;
  }

  .main-header-div {
    display: inline;
    margin: 0;
    padding: 0;
  }

  #main-header-text {
    font-size: 1.5rem;
  }

  #sub-header-text {
    font-size: 1.2rem;
  }

  #sub-header-text {
    color: #005994;
  }

  .home-logo {
    display: none;
  }

  .large-bg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #b2dae8;
    position: absolute;
    top: 11.5rem;
    bottom: 1rem;
    margin: 0 22%;
    float: right;
    width: 76%;
  }

  .logo-large {
    color: #fffeeb;
  }

  /* Secondary Pages */
  .page-list {
    position: absolute;
    top: 360px;
    bottom: 35px;
    right: 35px;
    left: 22%;
    width: 76%;
  }

  .text-list {
    margin: 0;
    width: 100%;
  }

  .search-box input {
    margin-top: 0;
  }

  .drink-img {
    width: 250px;
  }

  .drink-row p {
    font-size: 1.3rem;
  }

  .fa-trash-alt {
    font-size: 0.3rem;
  }

  .drink-right-col {
    height: 250px;
  }

  .home-icon {
    position: relative;
    float: right;
    top: 0;
    margin-right: 1rem;
    font-size: 80px;
  }

  /* Detailed Drink */
  .drink-detailed {
    flex-direction: row;
    position: absolute;
    float: right;
    margin: 0 22%;
    top: 11rem;
    bottom: 0;
    height: 40%;
    width: 76%;
  }

  .drink-name {
    display: none;
  }

  .detail-top-row {
    flex-direction: column;
    flex-basis: 30%;
    margin: 0 5%;
    justify-content: center;
    align-items: center;
  }

  .detail-top-row h2 {
    font-size: 3rem;
    color: #0074c2;
    text-align: center;
  }

  .detailed-img {
    width: 100%;
  }

  .details-div {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 100%;
    height: 90%;
    padding: 0.5rem;
  }

  .details-div p {
    flex-basis: 50%;
    margin: 5px;
    padding: 0.5rem;
    line-height: 1.7rem;
    border: 1px solid black;
    font-size: 1rem;
  }

  .details-table {
    height: 90%;
    flex-basis: 50%;
    margin: 5px;
  }

  .details-table th,
  .details-table td {
    padding: 0.5rem;
  }

  .details-table,
  .details-table th,
  .details-table td {
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
  }

  .random-btn-div {
    position: absolute;
    bottom: 1rem;
    right: 0;
    width: 80%;
    margin: 0;
  }

  .random-btn {
    border: none;
    color: white;
    background-color: #0074c2;
    font-size: 1.5rem;
    width: 50%;
    padding: 0.5rem;
    cursor: pointer;
  }

  /* modal */
  .modal-box {
    height: 270px;
    width: 375px;
  }

  .modal-btn {
    width: 140px;
    padding: 15px;
  }

  .modal-btn:hover {
    background-color: #0074c2;
  }

  /* Nav Bars */
  .hr {
    display: block;
    background-color: #fffeeb;
    height: 10px;
    width: 100%;
  }

  .nav-bottom {
    display: none;
  }

  .nav-side {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #66b6d2;
    width: 20%;
    border-bottom-right-radius: 20px;
  }

  .nav-links {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 140px;
    margin-left: 1rem;
  }

  .logo-small {
    display: block;
    margin-bottom: 3rem;
    font-size: 150px;
    color: #fffeeb;
  }
}
