* {
  font-family: 'Roboto', sans-serif;
}

.border-round {
  border-radius: 10px;
}

/* main header */
.title {
  border-radius: 0 0 10px 10px;
  padding: 0.5rem;
  background-color: #66b6d2;
  color: #fffeeb;
  text-align: center;
}

.title h1 {
  font-weight: bolder;
}

.home-icon {
  position: absolute;
  left: 0;
  margin: 1rem;
  font-size: 50px;
  color: #fffeeb;
  cursor: pointer;
}

.hr {
  border-radius: 10px;
}

/* main content */
.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}

.main-header {
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  background-color: #b2dae8;
  height: 45px;
  width: 90%;
}

.btn {
  margin: 6px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #fffeeb;
  background-color: #66b6d2;
  cursor: pointer;
}

.btn-selected {
  background-color: #007da9;
}

.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-large {
  font-size: 200px;
  color: #66b6d2;
  cursor: pointer;
}

.page-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}

.ingredients-list {
  background-color: #b2dae8;
  width: 90%;
  padding: 0;
  overflow-y: scroll;
}

.ingred-li {
  list-style-type: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #934d2f;
}

.ingred-li:active {
  background-color: #66b6d2;
}

/* nav bar for small screens */
.nav-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  background-color: #66b6d2;
}

.nav-icon {
  margin: 1rem 0;
  font-size: 50px;
  color: #eab676;
  cursor: pointer;
}

.nav-selected {
  color: #e88000;
}

.fa-heart {
  color: #ff3939;
}

/* hide element */
.hidden {
  display: none;
}

@media screen & (min-width: 1200px) {

}
