* {
  font-family: 'Roboto', sans-serif;
}

.border-round {
  border: none;
  border-radius: 10px;
}

/* main header */
.title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  background-color: #66b6d2;
  color: #fffeeb;
  text-align: center;
}

.title h1 {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.home-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  font-size: 50px;
  color: #fffeeb;
  cursor: pointer;
}

.hr {
  border-radius: 10px;
}

/* Main Content */

/* Home Page */
.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.main-header {
  position: relative;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2dae8;
  margin-top: 80px;
  height: 45px;
  width: 90%;
}

.main-header h2 {
  color: #0074c2;
}

.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-large {
  font-size: 200px;
  color: #66b6d2;
  cursor: pointer;
}

.large-bg {
  display: none;
}

/* Secondary Pages */

/* Ingredients/Category Page */
.page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 65vh;
}

.text-list {
  background-color: #b2dae8;
  width: 90%;
  padding: 0;
  overflow-y: scroll;
}

.list-item {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #0074c2;
  cursor: pointer;
}

.list-item:active {
  background-color: #66b6d2;
}

.drink-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drink-img {
  width: 200px;
  margin: 1rem;
  box-shadow: 0.3rem 0.3rem 0.8rem 0.2rem #66b6d2;
}

.drink-row p {
  font-size: 1.2rem;
  color: #0074c2;
  text-align: center;
}

.drink-row i {
  font-size: 3rem;
}

.drink-right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  margin-right: 1rem;
  background-color: #fffeeb;
  box-shadow: 0.3rem 0.3rem 0.8rem 0.2rem #66b6d2;
}

.search-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.search-box input {
  color: #0074c2;
  font-size: 1.5rem;
  text-align: center;
  background-color: #b2dae8;
  padding: 5px;
  margin: 10px;
  width: 100%;
}

#search-input::placeholder {
  color: #0074c2;
}

#search-input:focus {
  outline: none;
  background-color: #b2dae8;
}

/* Nav Bars */

/* Bottom Navbar */
.nav-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  background-color: #66b6d2;
}

.nav-icon {
  margin: 1rem 0;
  font-size: 50px;
  color: #eab676;
  cursor: pointer;
}

.nav-selected {
  color: #e88000;
}

.fa-heart {
  color: #ff3939;
}

/* Sidebar Nav */
.nav-links {
  display: none;
}

.nav-links a {
  color: #fffeeb;
  font-size: 1rem;
  padding: 1rem;
}

.nav-links a:hover {
  border-radius: 20px;
  background-color: #007da9;
}

.text-selected {
  color: #eab676 !important;
}

.logo-small {
  display: none;
}

/* hide element */
.hidden {
  display: none;
}

@media (min-width: 1200px) {
  * {
    font-size: 2rem;
  }

  /* Page Header */
  .title {
    border-bottom-right-radius: 20px;
    text-align: left;
    z-index: 10;
  }

  /* Home Page */
  .page-home {
    height: 100%;
    width: 80%;
    float: right;
  }

  .main-header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 170px;
    margin: 0 22%;
    float: right;
    height: 80px;
    width: 76%;
  }

  .main-header h2 {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #0074c2;
  }

  .home-logo {
    display: none;
  }

  /* Secondary Pages */
  .large-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2dae8;
    position: absolute;
    bottom: 1rem;
    margin: 0 22%;
    float: right;
    height: 65%;
    width: 76%;
  }

  .logo-large {
    color: #fffeeb;
    cursor: auto;
  }

  .page-list {
    position: absolute;
    float: right;
    margin: 0 22%;
    top: 9rem;
    bottom: 0;
    height: 65%;
    width: 76%;
  }

  .text-list {
    margin: 0;
    width: 100%;
  }

  .search-box input {
    margin-top: 0.7rem;
  }

  .drink-img {
    width: 400px;
  }

  .drink-row p {
    font-size: 1.8rem;
  }

  .drink-right-col {
    height: 400px;
  }

  .home-icon {
    position: relative;
    float: right;
    top: 0;
    margin-right: 1rem;
    font-size: 80px;
  }

  /* Nav Bars */
  .hr {
    display: block;
    background-color: #fffeeb;
    height: 10px;
    width: 100%;
  }

  .nav-bottom {
    display: none;
  }

  .nav-side {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #66b6d2;
    width: 20%;
    border-bottom-right-radius: 20px;
  }

  .nav-links {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 140px;
    margin-left: 1rem;
  }

  .logo-small {
    display: block;
    margin-bottom: 3rem;
    font-size: 150px;
    color: #fffeeb;
  }
}
